datasets
datasketch
Flask
Flask_Cors
jieba
jsonlines
marshmallow
matplotlib
ngrok
nltk
numpy
openai
peft
psutil
pydantic
rich
scikit_learn
sentence_transformers
simhash
tiktoken
transformers
jinja2
jsonlines
trl
ujson
wandb
streamlit
einops
swanlab
torch
torchvision